.cart-item{
    display: inline-block;
    margin-top: 10px;
    margin-left:10px;
    /* margin: 20px 10px; */
    /* border-style: solid;
    border-width: thin; */
    box-shadow: 10px 6px 18px 0px rgba(176,176,176,0.75);

  }
  
  .cart-item .right-block{
    padding: 0 20px;
  }
  
  .cart-item-actions {
    margin-top: 20px;
  }
  
  .actions-icons{
    height:25px;
    width:25px;
    margin-right: 10px;
  }
  
  .actions-icons:hover{
    cursor: pointer;
  }
  